@import url('https://use.typekit.net/your-fontkit-id.css');

section {
  padding: 2.5rem;
  text-align: center;
  position: relative;
}

section:not(:last-of-type) {
  border-bottom: 2px solid #ccc;
  margin-bottom: 2.5rem;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Bebas Neue Pro", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  background: #333;
  color: #fff;
}

.profile-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

nav {
  margin-top: 2rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #7e1212;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ff4c4c;
  text-decoration: none;
}

footer {
  margin-top: 2rem;
  background: #7e1212;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.3);
  z-index: 2;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-item p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ffffff;
}

.portfolio-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.portfolio-item {
  width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.1);
  z-index: 2;
}

.portfolio-item video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.portfolio-item p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
}
